<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CellSize</key>
	<dict>
		<key>Width</key>
		<integer>60</integer>
		<key>Height</key>
		<integer>60</integer>
	</dict>
	<key>ItemSpacing</key>
	<integer>20</integer>
	<key>SectionSpacing</key>
	<integer>20</integer>
	<key>LineSpacing</key>
	<integer>20</integer>
	<key>VORH</key>
	<integer>1</integer>
	<key>MaximumEffectiveRangeOfAutoScroll</key>
	<dict>
		<key>Top</key>
		<integer>15</integer>
		<key>Left</key>
		<integer>15</integer>
		<key>Bottom</key>
		<integer>15</integer>
		<key>Right</key>
		<integer>15</integer>
	</dict>
	<key>Insets</key>
	<dict>
		<key>Top</key>
		<integer>20</integer>
		<key>Left</key>
		<integer>20</integer>
		<key>Bottom</key>
		<integer>20</integer>
		<key>Right</key>
		<integer>20</integer>
	</dict>
</dict>
</plist>
